.navLink {
    color: #5598bc !important;
    text-shadow: 0px 0px 1px #52adf2ad !important;
}
.navLink:hover {
    text-decoration: none;
}
#navLogo {
    height: 50px;
}

#messages-div {
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding: 3px;
}

.home-radio {
    padding: 3px;
}
.home-scrollMe {
    overflow-x: auto;
}
.home-displayDataTable {
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.home-fitMe {
    text-align: center;
}
.home-displayDataTable td {
    border-bottom: 1px solid #52adf2ad;
    padding: 5px;
}
.home-displayDataTable thead td {
    border-bottom: 1px solid black;
}
.searchUsers {
    border-right: 1px solid #e5e5e5;
}
.home-displayDataTable thead {
    font-weight: bold;
}
#home-searchFor {
    margin-top: 10px;
}

#profilePicDiv {
    margin: auto;
}
#profilePic {
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
}
#imePrezime {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bolder;
}
.poddioIskaznice {
    color: #e30613;
    font-weight: bold;
    margin-bottom: 30px;
}
#QRcodeImg {
    padding: 30px;
}

.vrijednost {
    margin-top: -5%;
    font-size: 30px;
    font-weight: bolder;
}
#adminButtonUserPageDiv {
    margin: 7%;
}
.adminButtonUserPage {
    font-size: 30px;
    margin: 7px;
    text-decoration: none;
    padding: 15px;
    color: white;
}
.adminButtonUserPage:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#editCardButton {
    border-radius: 20px;
    background-color: #45b6f3;
}
#editCardButton:hover {
    background-color: #3189b8;
}
#terminateCardButton {
    border-radius: 20px;
    background-color: #e30613;
}
#terminateCardButton:hover {
    background-color: #bb0814;
}

.bolder {
    font-size: 15px;
    font-weight: bold;
}
.editAdmin-password {
    min-width: 93%;
}
.editAdmin-errorWrapper {
    margin-bottom: 10px;
}
.editAdmin-button {
    margin-top: 10px;
}
#passwordChange {
    border: 2px solid #e30613;
    padding: 20px;
    border-radius: 30px;
    width: 60%;
    margin: 50px auto;
}
#passwordChangeLegend {
    color: #e30613;
    margin: auto;
    word-wrap: normal;
}
.editAdmin-main {
    margin-bottom: 20px;
}
.editAdmin-hammerTime {
    color: red;
}
.editAdmin-hammerTime:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


.centerMe {
    text-align: center;
}
.padMe {
    margin-top: 5%;
}
.rightSide {
    margin: auto;
    padding: 0;
}
.leftSide {
    padding: 0;
}

#notFoundMain {
    width: 70%;
    padding-top: 30px;
}
#nePostojiText {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}
#notFound {
    max-width: 70%;
    max-height: 70%;
    border-radius: 30px;
}
#centerMeNotFound {
    text-align: center;
}

.newCardHeader {
    font-size: 25px;
}
#newCardHeaderDivider {
    background-color: #52adf2ad;
}
#newCardForm {
    padding-top: 16px;
}
.error-wrapper {
    margin-bottom: 30px;
}
.addCardError {
    margin: 5px;
    color: red;
}
.unosPodataka {
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #5598bc;
    width: 50%;
}
.label {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 15px;
}
#addCard_image {
    max-width: 200px;
    font-size: 15px;
}
.addCardBottom {
    margin-bottom: 50px;
}
#napraviIskaznicu {
    margin-bottom: 0;
}
.dugmadi {
    background: #52adf2;
    color: white;
    border: 1px solid #5598bc;
}
.unesiText {
        text-align: center;
    }
    ::-webkit-input-placeholder {
        text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
    }
*:focus {
    outline: none;
}
#downloadQRButton {
    border-radius: 3px;
    background-color: #45b6f3;
    font-size: 16px;
    color: white;
    padding: 5px;
    text-decoration: none;
}